.employeeGroupcontent {
    // height: 70vh;
    // max-height: 65vh;
    overflow: hidden;
    padding: 10px 40px;
}
  
.employeeGroupcontentDiv{
    height: 70vh;
    max-height: 65vh;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 30px;
}

.buttonNext {
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.17);
    margin-top: 10px;
    width:86px;
    border-radius: 4px;
    background-color: #08D5E0;
    border-color: #08D5E0;
    float: right;
}
.buttonNext:hover{
    background-color: #08D5E0;
    border-color: #08D5E0;
}
.buttonNext:focus{
    background-color: #08D5E0;
    border-color: #08D5E0;
}

.buttonNext {
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.17);
    margin-top: 10px;
    width:86px;
    border-radius: 4px;
    background-color: #08D5E0;
    border-color: #08D5E0;
    float: right;
}
.buttonNext:hover{
    background-color: #08D5E0;
    border-color: #08D5E0;
}
.buttonNext:focus{
    background-color: #08D5E0;
    border-color: #08D5E0;
}

.buttonCancel {
    margin: 10px 10px 0 0;
    width:86px;
    border-radius: 4px;
    float: right;
    background: #FFFFFF;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    color: #7B7B7B;
}
.buttonCancel:hover{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #7B7B7B;
}
.buttonCancel:focus{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #7B7B7B;
}

h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #626262;

}