@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.title{
    color: #5280fd;
    text-align: center;    
}

.loginForm{
    width: 300px;
    text-align: center;
    padding: 20px;
}

.remember{
    float: left;
    margin-left: 12px;
    margin-top: -10px;
}




