@import '~antd/lib/style/themes/default.less';

:global {
    //ModalDialog
//     .ant-modal-content{
//         height:303px;
//     }
//    .ant-modal-content{
//         border-radius: 6px;
//      }

    .ant-modal-header{
        background-color:#F7F7F7 ;
        border-bottom: 0px;
    }
//     .ant-modal-title{
//         font-size: 18px;
//         line-height: 30px;
//         color: #626262;
//         font-family: lato;
//         font-weight: bold;
//     }
    .ant-modal-footer{
        border-top:none !important;
    }

    //Form
    .ant-form-item-label label{
        color:#626262;
        font-size: 15px;
        font-family: lato;
    }

    .ant-btn-ghost {
        box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.17) !important;
        border-radius: 4px !important;
        // margin-Right: 12px;
        width:86px !important;
        // height:35px;
        // left:60px;
        // top:42px;
    }

    //Plus Button
    .ant-btn-circle, .ant-btn-circle-outline {
        width: 60px !important;
        height: 60px !important;
        // padding: 0;
        // font-size: 16px;
        border-radius: 50%;
        color:#ffffff !important; 
        background-color:#08D5E0 !important;
        border-color: #08D5E0 !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // position: absolute;
        // bottom: 56px;
        // right: 24px;
        float: right;
        top: 180px;
    &:hover {
        background-color: #08D5E0 !important;
        border-color: #08D5E0;
        color:#ffffff;
        }
    &:focus {
        background-color: #08D5E0 !important;
        border-color: #08D5E0;
        text-decoration: none;
        color:#ffffff;
        }
    }
    //Table 
    .ant-table-content{
        background-color: #ffffff;
        padding: 0 0 15px 20px;
    }
    .ant-table-small{
        border:none !important;
    }

    tr:nth-child(even){
        background: #F6F9FC;
    }
    tr:nth-child(odd){
        background: #ffffff;
    }

    // Pagination 
    .ant-pagination.mini .ant-pagination-item {
        margin: 0;
        min-width: 24px;
        height: 24px;
        line-height: 22px;
        background-color: #08D5E0;
        border-color: #08D5E0;
        color: white;
    }

    .ant-pagination-item-active a {
        color: white;
    &:hover {
        border-color: #08D5E0;
        color:#ffffff;
    }
    &:focus {
        border-color: #08D5E0;
        color:#ffffff;
    }
    }







// .ant-modal-confirm-title {
//   padding: 19px 12px 37px 9px;

//   display: block;
//   overflow: hidden;
//   color: rgba(0, 0, 0, 0.85);
//   font-weight: 500;
//   font-size: 22px;
//    /* line-height: 5.4;  */
//   text-align: center;
// }

// .ant-modal-confirm-content {
//   /* margin-left: 38px; */
//   position: absolute;
//   left: 18%;
//   top: 55%;
// }

// .ant-modal-confirm-btns{
//   position: absolute;
//     left: 38%;
//     bottom: -15%;
// }

// .ant-modal-confirm-body > .anticon {
//   /* float: left; */
 
//   position: absolute;
//   left: 45%;
//   top: 10%;
//   /* margin-right: 19px; */
//   font-size: 46px;
// }



// .ant-modal-confirm .ant-modal-body {
//   padding: 32px 32px 70px;
// }

// .ant-modal-content {
//   width: 53%;
 
// }



}

    .buttonSave {
        box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.17);
        width:86px;
        // height:35px;
        border-radius: 4px;
        // margin-Right: 12px;
        background-color: #08D5E0 !important;
        border-color: #08D5E0 !important;
        color: #ffffff !important;
        // left:60px;
        // top:42px
    }
    .buttonSave:hover{
        background-color: #08D5E0 !important;
        border-color: #08D5E0 !important;
    }
    .buttonSave:focus{
        background-color: #08D5E0 !important;
        border-color: #08D5E0 !important;
    }

    //plus Icon
    .plusIcon{
        font-size: 29px;
        font-weight: 800;
    }

    //holidays modaldailog
    .modalDialogStyles{
        height:500px;
    }

    // contentTitle
    .contentTitle{
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        padding: 1% 1% 1% 4%;
        background-color: #F9FAFB;
        height: 10vh;
    }

    .radioCard {
        width: 197px;
        height: 197px;
        text-Align: center;
        border: 1px solid #E1E1E1;
        box-Sizing: border-box;
    }

    .cardTitle {
        margin-top: 20px;
        font-family: Lato;
        color: #626262;
        font-weight: bold;
        font-size: 14px;
    }