@import '~antd/lib/style/themes/default.less';

// .content {
//   margin: 24px 24px 0;
// }
// .pagehead{
//   margin: 0px;
//  }

// @media screen and (max-width: @screen-sm) {
//   .content {
//     margin: 24px 0 0;
//   }
// }
:global {
  .ant-layout-header {
    line-height: 0px !important;
  }
}
// layout header 
.basicLayoutHeader {
  width: 100vw;
  height:11vh ;
  background-color: #08D5E0;
  padding: 17px;
  display: flex;
}
// Layout content
.basicLayoutContent {
  width: 100vw;
  height: 84vh;
  background-color: #F1F4F6;
}
// Layout footer
.basicLayoutFooter {
  width: 100vw;
  height: 5vh;
  background-color: #F9FAFB;
  padding: 0;
}
// layout logo
.logoLink{
  padding: 5px 120px 0px 60px;
}
// more options in header
.menuIconsDiv {
  display: flex;
  padding: 5px;
}
.bellImageDiv {
  padding: 5px 100px 0 90px;
}

.userImageDiv {
  padding: 2px 0 0 0;
}
.name{  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.role{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
@media screen and (max-width: @screen-sm) {
  .logoLink{
    padding: 0px 1px;
  }
  .bellImageDiv {
    padding: 1px;
  }
  .userImageDiv {
    padding: 1px;
  }
  .calenderImageDiv {
    padding: 1px;
  }
}

// .layoutContentDiv {
//     height: 70vh;
//     max-height: 65vh;
//     // overflow-X: hidden;
//     // overflow-Y: hidden;
//     padding: 20px 50px;
// }